GOOGLE_CLIENT_ID=434046440829-4kr09lbdl6u5eu03h92g5obb12nc72fd.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXTAUTH_SECRET=your-nextauth-secret-run-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
